<h2>Productos</h2>
<div *ngFor="let producto of productos">
   <h3>
      <a [title]=" 'Detalle de ' + producto.nombre "
         [routerLink]="['/productos',producto.id]"
         >

         {{producto.nombre}}
      </a>
   </h3>
   <p *ngIf="producto.descripcion">
      Descripción: {{producto.descripcion}}
   </p>
   <button type="button" (click)="compartir()">
      Compartir
   </button>
   <app-alerta-producto 
   [producto]="producto" 
   (notify)="onNotify()">
   >
   </app-alerta-producto>
</div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->